
#main-pic{
  background-image: url("paragliding.jpg");
  background-position: center center;
  background-size: cover;

}

@font-face {
  font-family: customFont;
  src: url(ShadowsIntoLight-Regular.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@media screen and (max-width: 767px) {
  #sky-high{
    display: none;
  }
}

@media screen and (min-width: 769px) {
  #bouncy-card{
    margin-bottom: -3rem!important;
  }
}

#contact-card{
  max-width: 18rem;
}

#slipAndSlide{
  max-width: 20rem;
}

#bestReview{
  height: 15rem;
}

#reviews{
  font-family: customFont;

} 


